---
import BaseHead from "../components/Base/BaseHead.astro";
---

<html lang="en">
  <head>
    <BaseHead title="Home" description="From Math Anxiety to Math Confidence" />
  </head>
  <body>
    <h1 class="poppins">Astro</h1>
    <h2>This is a heading two</h2>
    <h3>This is a heading three</h3>
    <p>This isa heading three</p>
    <h4>This is a heading four</h4>

    <p>This is just some body text for contrast.</p>
  </body>
</html>
