---

---



<header>

    <nav>
        <div id="menu" class="flex lg:flex-row flex-col lg:justify-between padding-x-xxl margin-y-large">
            <div class="poppins xxl">Suzza Silver</div>
        <div id="menu-items">
            <div class="lg:hidden flex justify-start">
              <button id="menuButton">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M3 6h18v2H3zm0 5h18v2H3zm0 5h18v2H3z" />
                </svg>
              </button>
            </div>
            <ul id="menuList" class="hidden lg:flex lg:flex-row list-none gap-3 flex-col">
                <li><a href="/about">About</a></li>
                <li><a href="/blog">How to Blog</a></li>
                <li><a href="/archive">Blog Archive</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="/">Subscribe</a></li>
                <li><a href="mailto:suzza@susansilver.net" class="p-3 bg-slate-500 rounded-xl">Contact</a></li>
            </ul>
          </div>
          </div>
       
        </nav>
    
  </header>

 <script>
    document.addEventListener("DOMContentLoaded", () => {
        const menuButton = document.getElementById("menuButton");
        const menuList = document.getElementById("menuList");
        
        if (menuButton && menuList) {
            menuButton.addEventListener("click", () => {
                menuList.classList.toggle("hidden");
            });
        }
    });
</script>