---
---
<div id="newsletter" class="flex flex-col lg:flex-row bg-background-50 rounded-xl margin-y-xxl">
    <div id="newsletter-signup" class="flex flex-col padding-y-med">
    <div id="newsletter-text" class="padding-x-small padding-bottom-xxl text-balance text-center"><h3>Join a Growing Community of Writers Who Want More Traffic To Their Blogs</h3></div>
    <div id="newsletter-form" class="flex justify-center"><iframe src="https://embeds.beehiiv.com/9a249792-c593-446f-9054-76b1c92f7336?slim=true" data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;" class="w-full padding-x-med"></iframe>
    </div>
    </div>
  </div>